a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.button {
    border: solid 1px black;
}

.prog-bar {
    border: solid 1px black;
    width: 640px;
    height: 21px;
}

.prog-chunk {
    display: inline-block;
    position: relative;
    float: left;
    height: 19px;
}

select, select option {
    height: 40px;
}

.grid  { display: block; }
.grid  td { display: inline-block; width: 15em}


/* toggle buttons */
label {
    padding:0.4em 2em 0.4em 0;
}
.toggle-btn-grp {
    margin:3px 0;
}
.toggle-btn {
    text-align: center;
    margin:5px 2px;
    padding:0.4em 3em;
    color:#000;
    background-color:#FFF;
    border-radius:10px;
    display:inline-block;
    border:solid 1px #CCC;
    cursor:pointer;
}

.toggle-btn-grp.cssonly * {
    width:140px;
    height:30px;
    line-height:30px;
}
.toggle-btn-grp.cssonly div {
    display:inline-block;
    position:relative;
    margin:5px 2px;
}

.toggle-btn-grp.cssonly div label {
    position:absolute;
    z-index:0;
    padding:0;
    text-align:center;
}

.toggle-btn-grp.cssonly div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.toggle-btn-grp.cssonly div:hover label {
    border:solid 1px #a0d5dc !important;
    background:#f1fdfe;
}

.toggle-btn-grp.cssonly div input:checked + label {
    background:lightgreen;
    border:solid 1px green !important;
}
